<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert Entities</title>
</head>
<body>
<h1>Insert Entities</h1>
<form action="/insert/many" method="post">
    <button type="submit">insert many</button>
</form>
<form action="/insert" method="post">
    <button type="submit">insert</button>
</form>
<form action="/select" method="post">
    <button type="submit">select</button>
</form>
<form action="/delete" method="post">
    <button type="submit">delete</button>
</form>
</body>
</html>
